:root { 
--red_900:#c11818; 
--white_A700_cc:#ffffffcc; 
--black_900_01:#010101; 
--light_green_500:#70d44b; 
--black_900:#000000; 
--teal_900:#124734; 
--gray_100_99:#f5f5fa99; 
--gray_200_01:#ececec; 
--blue_gray_100_3f:#d4d4d43f; 
--blue_gray_900_02:#333333; 
--black_900_28:#00000028; 
--gray_200_02:#ebebeb; 
--blue_gray_900_01:#0c2542; 
--blue_gray_900:#2c2f3a; 
--blue_gray_100_90:#d9d9d990; 
--teal_900_35:#12473435; 
--gray_100_90:#f5f5fa90; 
--lime_200:#f3efa1; 
--gray_600:#6b6b6b; 
--gray_400:#afafaf; 
--blue_gray_200:#afc5c0; 
--blue_gray_100:#d9d9d9; 
--gray_600_01:#7a7d88; 
--black_900_e5:#000000e5; 
--gray_500:#adadad; 
--blue_gray_400:#8083a3; 
--blue_gray_300:#9ba0b1; 
--light_green_500_19:#70d44b19; 
--indigo_50:#e2e8f0; 
--gray_900:#093626; 
--gray_200:#eeeeee; 
--gray_300:#e2e2e2; 
--gray_300_02:#e6e6e6; 
--gray_300_01:#e4e6e7; 
--blue_gray_400_7f:#827f8e7f; 
--gray_100:#f6f6f6; 
--teal_A400:#3be2b2; 
--gray_100_02:#f2f2f2; 
--gray_100_01:#f5f5fa; 
--gray_300_90:#e4e6e790; 
--black_900_19:#00000019; 
--blue_gray_400_02:#827f8e; 
--blue_gray_400_01:#7e859b; 
--gray_300_3f:#dadada3f; 
--white_A700:#ffffff; 
--teal_900_01:#004737; 
}